<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jsTree test</title>
  <!-- 2 load the theme CSS file -->
  
</head>
<body>
  <!-- 3 setup a container element -->
  <div id="jstree">
    <!-- in this example the tree is populated from inline HTML -->
    <ul>
      <li>Root node 1
        <ul>
          <li id="child_node_1">Child node 1</li>
          <li>Child node 2</li>
        </ul>
      </li>
      <li>Root node 2</li>
    </ul>
  </div>
  <button>demo button</button>

  <script>
  $(function () {
    // 6 create an instance when the DOM is ready
    // $('#jstree').jstree();
    // $('#jstree').jstree({
    //   'core' : {
    //     'data' : function (obj, cb) {
    //         cb.call(this,
    //           ['Root 1', 'Root 2']);
    //     }
    //   }
    // });

    $('#jstree').jstree({
      'core' : {
        'data' : {
          'url' : function (node) {
            var item_id = node.original == null ? '' : node.original.item_id;
            return '/admin/dashboard/getTreeData?item_id='+ item_id
          },
          'data' : function (node) {
            return { 'id' : node.id, 'item_id': node.item_id };
          }
        },
      'check_callback': true
      },
      "plugins": ["dnd"]
    });
  });
  </script>
</body>
</html>