<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jsTree test</title>
  <!-- 2 load the theme CSS file -->
  
</head>
<body>
  <!-- 3 setup a container element -->
  <div id="jstree">
    <!-- in this example the tree is populated from inline HTML -->
    <ul>
      <li>Root node 1
        <ul>
          <li id="child_node_1">Child node 1</li>
          <li>Child node 2</li>
        </ul>
      </li>
      <li>Root node 2</li>
    </ul>
  </div>
  <button>demo button</button>

  <script>
  $(function () {
    // 6 create an instance when the DOM is ready
    // $('#jstree').jstree();
    // $('#jstree').jstree({
    //   'core' : {
    //     'data' : function (obj, cb) {
    //         cb.call(this,
    //           ['Root 1', 'Root 2']);
    //     }
    //   }
    // });

    $('#jstree').jstree({
      'core' : {
        'data' : {
          'url' : function (node) {
            console.log(node.original);
            var item_id = typeof(node.original) === 'undefined' ? '' : node.original.item_id;
            return '/admin/dashboard/getTreeData?item_id='+ item_id
          },
          'data' : function (node) {
            return { 'id' : node.id, 'item_id': node.item_id };
          }
        },
        'check_callback': function(o, n, p, i, m){
          if (this.get_node(n).parent === this.get_node(p).id) 
            return true;
          else 
            return false;
        }
      },
      "checkbox": {three_state: false, whole_node: false, tie_selection: false},
      "plugins": ["dnd", "checkbox"]
    }).bind("move_node.jstree", function (e, data) {
      if(data.old_parent == data.parent){
        var parent_node = $("#jstree").jstree(true).get_node(data.parent);
        console.log(parent_node);
        console.log(parent_node.original);
        console.log(parent_node.children);
        $("#jstree").find("#" + data.parent + " li").each(function(index) {
          console.log($(this).text());
        });
        return true;
      }else {
        return false;
      }
    }).bind("check_node.jstree uncheck_node.jstree", function(e, data){
      alert(data.node.id+"--"+data.node.text+(data.node.state.checked?' Checked': ' Not checked'));
    });
  });
  </script>
</body>
</html>