<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title">Tab Setting (Show/Hide)</h5>
    </div>
    <div class="modal-body">
      <div class="modal-listview">
        <ul class="list-group shown-fields" id="d_list">
          <% data.value.each do |tabValue| %>
            <% if data.hidden_fields.present? %>
              <% hidden = true if data.hidden_fields.include? tabValue %>
            <% else %>
              <% hidden = false %>
            <% end %>
            <li class="list-group-item">
              <label><%= tabValue %></label>
              <input type="hidden" class="object-id" value="<%= data.id %>">
              <span class="pull-right">
                <label class="switch">
                  <input type="checkbox" class="switch-input" <%= "checked" if !hidden %>>
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </span> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>