@import "active_admin/mixins";
@import "active_admin/base";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-toggle";
@import "switch";
@import "jstree-default";
@import "jquery.contextMenu.css";


.width-50 {
  width: 50%;
}
.margin-right-30 {
  margin-right: 30px !important;
}
#tbl_about {
  tbody tr {
    cursor: pointer;
    &:hover {
      td {
        background-color: #bdecb0;
      }
    }
  }
}
.modal-listview {
  height: 200px;
  overflow: auto;
  li:hover {
    background-color: lightgray;
  }
}