
@import "active_admin/mixins";
@import "active_admin/base";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-toggle";
@import "switch";


#tbl_about {
    tbody tr {
        cursor: pointer;
        &:hover {
            td {
                background-color: #bdecb0;
            }
        }
    }
}

.modal-dialog {
    .modal-listview {
        height: 200px;
        overflow: auto;
        li:hover {
            background-color: lightgray;
        }
    }
}